modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 25487
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_ZGlyZWN0LXJpbmd0YWlsLTE0LmNsZXJrLmFjY291bnRzLmRldiQ"
CLERK_JWT_KEY = """
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwjbQTBnyEV6DgYM4cDOQ
cAsUPSn+t8CQBsGHvX+1iw3+ed2egb0KEoQAHUAlkGfULjIe6A07DIbKAWlKRr9h
4Ne4oWcW94nxnvRplLm4fPeQl5zsbjCppRWtBlgPzeUkkASjdK8j80tFF68fDsUr
qRmw5mAHkPiU1eraKbdm2qdKw1NgA6XZBYMwAh754OEKrGAlYA3O/eyFY5/Ymy18
Pew3MLSfN7OR+loQH2JuxjDhz6b7PN9DD3Br6A2jmC8Rr44MEdSPxtEnY0+3FgNz
lv1fi7onNVE7pae0q3+WKybew2hIo7Ew8QXDktQwFPYq35Z41/bELHzdrVdP91Qc
6QIDAQAB
-----END PUBLIC KEY-----
"""
